*{
 padding: 7px;
}
.navbar
{
    color:black;
}
a.navbar-brand
{
   height: 30px;
   color: green;
   font-size: 40px ;
   font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active-link
{
    color: green;
}
.navbar-light .navbar-nav .nav-link
{
    color:black;
    font-weight: bold;
}
.container-fluid
{
    color:black;
}