.foodbox{
    padding: 10px 5px;
}
.foodbox img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    translate: all 0.5s ease;
}
.foodbox:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.foodbox h1{
    font-size: 18px;
    margin-top: 20px;  
}
a
 {
    color: #000;
    background-color:rgb(86, 229, 86);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}