form
{
    margin-top: 10%;
    width: 50%;
    text-align: center;
}

img{
   image-resolution: 1980px 920px;
}

h1{
    text-decoration: underline;
    padding: 10;
    
}
@media screen and (max-width:600px) {
    form{
        width: 100%;
    }
    
}